/* Mobile */

body{
    width: 100vw;
    height: 100vh;
    margin: auto;
}

header{
    display: flex;
    width: 100%;
    height: 505px; 
    margin: 0;    
}

main{
    display: flex;
    width: 100vw;
    flex-direction: column;
}

img{
    width: 100%;
    height: 100%;
    align-self: center;
}

header img{
    margin-top: -10px;
    width: 100%;
    
}

section{
    width: 100vw;
}

#section-1{
    height:573px;
    width: 100vw;
    top: 505px;
    
}

#section-2{
    height: 507px;
    top: 1078px;
    
}

#section-3{
    height: 507px;
    top: 1585px;
    
}

#section-4{
    height: 560px;
    top: 2092px;
}

footer{
    width: 100vw;
    height: 140px;
    top: 2652px;
}

@media screen and (min-width: 600px) {
    body{
        display: grid;
        width: 100vw;
        height: 2792px;
        
    }

    header{
        width: 1280px;
        height: 459px;  
        
    }

    header img{
        width: 100%;
    }

   #section-1{
    width: 100%;
    height: 394px;
   }

   #section-2{
    width: 1280px;
    height: 448px;
    top: 933px;
    
}
    
}

