/* Mobile */

body{
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    background-color: #f6f6f6;
    
}

header{
    width: 100%;
    height: auto;        
}

header picture{
    width: 100%;
    height: auto;         
}

section{
    width: 100%;
}

section picture{
    width: 100%;
    height: auto;
}

img{
    width: 100%;
    height: auto;
}

#section1 {
    height: auto;
}

#section1 picture{
    width: 100%;
    height: auto;
        
}

#section2 {
    height: auto;
}

#section2 picture{
    width: 100%;
    height: auto;    
}

#section3 {
    height: auto;
}

#section3 picture{
    width: 100%;
    height: auto;    
}

#section4{
    height: auto;    
}

#section4 picture{
    width: 100%;
    height: auto;    
}

footer{
    height: auto;    
}

footer picture{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 600px) {
    body{
         grid-template-rows: auto ;        
    }

    header{
        width: 100%;
        height: auto;
    }

    #section1{
        height: auto;
    }

    #section2 {
        height: auto;
    }

    #section3 {
        height: auto;
    }

    #section4 {
        height: auto;
    }

    
    footer{
    height: auto;    
    }
}

